@use "../variables.scss" as *;

.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $white;
  .social-media {
    color: $dark-grey;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
  }
}

@media (max-width: 1048px) {
  .social-list {
    justify-content: space-around;
    padding: 10px;
    .social-media {
      font-size: 12px;
    }
  }
}

@media (min-width: 1048px) {
  .social-list {
    justify-content: space-around;
    padding: 10px;
    .social-media p {
      transition: transform 0.5s ease;
      font-size: 13px;
    }
    .social-media:hover p {
      transform: scale(1.1);
    }
  }
}