@use "../variables.scss" as *;

.language-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $white;

  .language-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background: none;
    border: none;
    cursor: pointer;
    .flag-icon {
      width: 35px;
      height: 35px;
    }
  }

  .language-list {
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: $white;
    top: 50%;
    left: 50%;
    opacity: 0;
    margin: 0;
    pointer-events: none;
    z-index: 1000;
    gap: 8px;
    padding: 6px 10px;
    border-radius: 8px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translate(-50%, -50%) scale(0.9);
    
    li {
      display: flex;
      list-style: none;
      cursor: pointer;
      .flag-icon {
        width: 35px;
        height: 35px;
      }
    }

    &.open {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      pointer-events: auto;
    }
  }
}

@media (min-width: 1048px) {
  .language-selector {
    .language-btn {
      padding: 4px;
      .flag-icon {
        width: 35px;
        height: 35px;
          transition: transform 0.2s ease;
          &:hover {
          transform: scale(1.1);
        }
      }
    }
  
    .language-list {
      gap: 8px;
      padding: 6px 10px;
      border-radius: 8px;
      li {
        .flag-icon {
          width: 35px;
          height: 35px;
          transition: transform 0.2s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}