@use "../variables.scss" as *;

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  .subtitle {
    color: $black;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
  }
  
  .skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    .icon {
      font-family: Poppins;
      color: $dark-grey;
      border: 1.5px solid $dark-grey;
      font-size: 14px;
      border-radius: 5px;
      list-style-type: none;
    }
  }
}

@media (max-width: 1048px) {
  .skills {
    gap: 15px;
    padding: 10px 10px 20px 10px;
    .subtitle {
      font-size: 20px;
      color: $dark-grey;
      text-align: center;
      line-height: 22px;
    }
    
    .skills-list {
      max-width: 400px;
      gap: 8px;
      .icon {
        font-size: 13px;
        padding: 3px 10px;
      }
    }
  }
}

@media (min-width: 1048px) {
  .skills {
    gap: 15px;
    padding: 15px;
    .subtitle {
      font-size: 26px;
      text-align: center;
      line-height: 28px;
    }
    
    .skills-list {
      gap: 10px 12px;
      .icon {
        padding: 4px 13px;
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
