@import "./styles/variables.scss";

#root {
  margin: 0 auto;
  padding: 0;
  background-color: #F9F1DA;
}

@media (min-width: 1200px) {
  main {
    // min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    .home-page,
    .about-page,
    .projects-page,
    .contact-page {
      scroll-margin-top: 80px;
    }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
};
}
